@use '../../../../variables' as vars;
@use '../../../../_utilities' as *;

.nom-form {
  &__content {
    padding: vars.$spacing-4 0;
  }

  &__field {
    width: 100%;
    margin-bottom: vars.$spacing-4;
  }

  &__input {
    font-size: vars.$font-size-md;
  }
}

.nom-loading {
  &-container {
    @include nom-loading-state(vars.$spacing-8);
  }

  &-text {
    margin-top: vars.$spacing-4;
    color: var(--mat-sys-on-surface-variant);
    font-size: vars.$font-size-sm;
  }
}
