<div class="login">
  <amw-card
    headerTitle="Welcome Back!"
    headerSubtitle="Sign in to your account"
    headerIcon="login">
    <ng-template #contentTemplate>
      @if (isLoading()) {
        <mat-progress-bar mode="indeterminate" color="primary" class="nom-card__progress-bar"></mat-progress-bar>
      }
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="nom-form">
        <amw-input
          type="email"
          formControlName="email"
          label="Email Address"
          icon="email"
          [required]="true"
          class="nom-form__field"
          data-cy="email-input">
        </amw-input>

        <amw-input
          type="password"
          formControlName="password"
          label="Password"
          icon="lock"
          [required]="true"
          class="nom-form__field"
          data-cy="password-input">
        </amw-input>

        <div class="login__options-row">
          <amw-checkbox formControlName="rememberMe" label="Remember Me"></amw-checkbox>
          <a routerLink="/forgot-password" class="nom-link">Forgot Password?</a>
        </div>

        <amw-button
          type="submit"
          variant="filled"
          color="primary"
          [disabled]="loginForm.invalid || isLoading()"
          [loading]="isLoading()"
          class="nom-button"
          data-cy="login-button">
          Sign In
        </amw-button>
      </form>
    </ng-template>
    <ng-template #actionsTemplate>
      <p class="nom-prompt-text">
        New to our platform?
        <a routerLink="/register" class="nom-link">Create an Account</a>
      </p>
    </ng-template>
  </amw-card>
</div>
