@use '../../../variables' as vars;

.login {
  width: 500px;

  &__options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: vars.$breakpoint-mobile) {
      margin-bottom: 25px;
    }
  }
}
