<div class="login">
  <div class="login__header">
    <div class="login__header-text">
      <h2 class="login__title">Welcome Back!</h2>
      <p class="login__subtitle">Sign in to your account</p>
    </div>
    <button type="button" class="login__close" (click)="closeRequested.emit()" aria-label="Close">
      <amw-icon name="close"></amw-icon>
    </button>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
    <amw-input
      type="email"
      formControlName="email"
      label="Email Address"
      [required]="true"
      data-testid="login-email-input">
    </amw-input>

    <amw-input
      type="password"
      formControlName="password"
      label="Password"
      [required]="true"
      data-testid="login-password-input">
    </amw-input>

    <div class="login__actions">
      <div class="login__actions-left">
        <amw-checkbox formControlName="rememberMe" label="Remember Me"></amw-checkbox>
        <a routerLink="/forgot-password" class="nom-link" (click)="closeRequested.emit()">Forgot Password?</a>
      </div>
      <amw-button
        type="submit"
        variant="filled"
        color="primary"
        [amwValidationTooltip]="validationContext"
        [disabled]="loginForm.invalid"
        data-testid="login-submit-btn">
        Sign In
      </amw-button>
    </div>
  </form>

  <div class="login__register-prompt">
    Don't have an account?
    <a routerLink="/register" class="nom-link" (click)="closeRequested.emit()">Get Started</a>
  </div>
</div>
