<button
    [type]="config.type"
    [disabled]="isDisabled$ | async"
    [class]="getButtonClasses()"
    [attr.aria-label]="config.ariaLabel"
    [attr.aria-describedby]="config.ariaDescribedBy"
    (click)="onClick($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (keydown)="onKeyDown($event)">
    @if (config.showLoading && (isLoading$ | async)) {
      <span class="loading-spinner"></span>
    }
    @if (!config.showLoading || (isLoading$ | async) === false) {
      @if (config.icon) {
        <i [class]="config.icon"></i>
      }
      @if (config.text) {
        <span>{{ config.text }}</span>
      }
      <ng-content></ng-content>
    }
</button>
