<!-- File: nom-ui/src/app/common/components/confirmation-dialog/confirmation-dialog.component.html -->

<h1 mat-dialog-title class="nom-dialog__title">{{ title }}</h1>
<div mat-dialog-content class="nom-dialog__content">
  <p>{{ message }}</p>
</div>
<div mat-dialog-actions align="end" class="nom-dialog__actions">
  <button mat-stroked-button (click)="onDismiss()">
    {{ cancelButtonText }}
  </button>
  <button mat-raised-button color="warn" (click)="onConfirm()">
    {{ confirmButtonText }}
  </button>
</div>
