<form [formGroup]="restrictionForm" class="nom-form">
  <div class="nom-section">
    <h3 class="nom-section__heading">Restriction Details</h3>
    <p class="nom-instruction-text">
      Please provide details for your
      {{ getRestrictionTypeName(restrictionType!) }} restriction.
    </p>

    @switch (restrictionType) { @case
    (RestrictionTypeEnum.SocietalReligiousEthical) {
    <app-societal-restriction
      [societalRestrictionForm]="societalRestrictionFormGroup"
    ></app-societal-restriction>
    } @case (RestrictionTypeEnum.AllergyMedical) {
    <app-medical-restriction
      [medicalRestrictionForm]="medicalRestrictionFormGroup"
    ></app-medical-restriction>
    } @case (RestrictionTypeEnum.PersonalPreference) {
    <app-personal-preference
      [personalPreferenceForm]="personalPreferenceFormGroup"
    ></app-personal-preference>
    } @default {
    <p class="nom-message-text">
      No restriction type selected or supported for editing.
    </p>
    } }
  </div>
</form>
