@use '../../../../variables' as vars;
@use '../../../../_utilities' as *;

.full-width {
  width: 100%;
}

.error-message {
  @include nom-error-message;
  font-size: vars.$font-size-sm;
  margin-top: vars.$spacing-4;
  gap: vars.$spacing-2;
}
