.nom-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nom-card {
  width: 100%;
  max-width: 500px;
}

.nom-form__field {
  width: 100%;
}

.nom-button {
  width: 100%;
}

.nom-button__spinner {
  margin: auto;
}
