@use '../../../../variables' as vars;

.full-width {
  width: 100%;
}

.error-message {
  display: flex;
  align-items: center;
  gap: vars.$spacing-2;
  padding: vars.$spacing-3;
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
  border-radius: vars.$nom-border-radius-sm;
  font-size: vars.$font-size-sm;
  margin-top: vars.$spacing-4;
}
