<div class="nom-page-container confirm-email">
  <mat-card class="nom-card">
    <mat-card-header class="nom-card__header">
      <mat-card-title class="nom-card__title"
        >Email Confirmation</mat-card-title
      >
      <mat-card-subtitle class="nom-card__subtitle"
        >Verifying your account...</mat-card-subtitle
      >
    </mat-card-header>
    @if (isLoading) {
    <mat-progress-bar
      mode="indeterminate"
      color="primary"
      class="nom-card__progress-bar"
    ></mat-progress-bar>
    }
    <mat-card-content class="nom-card__content">
      @if (confirmationStatus === 'loading') {
      <div class="nom-spinner-container">
        <mat-spinner></mat-spinner>
        <p class="nom-message-text">{{ message }}</p>
      </div>
      } @else if (confirmationStatus === 'success') {
      <div class="nom-spinner-container">
        <mat-icon color="accent" class="nom-status-icon">check_circle</mat-icon>
        <h2 class="nom-section__heading">Email Confirmed Successfully!</h2>
        <p class="nom-message-text">{{ message }}</p>
        <button
          mat-raised-button
          color="primary"
          routerLink="/login"
          class="nom-button"
        >
          Go to Login
        </button>
      </div>
      } @else if (confirmationStatus === 'failure') {
      <div class="nom-spinner-container">
        <mat-icon color="warn" class="nom-status-icon">error</mat-icon>
        <h2 class="nom-section__heading">Confirmation Failed</h2>
        <p class="nom-message-text">{{ message }}</p>
        <div class="nom-horizontal-group">
          <button
            mat-stroked-button
            color="primary"
            routerLink="/send-confirmation"
            class="nom-button"
          >
            Resend Confirmation Email
          </button>
          <button
            mat-raised-button
            color="accent"
            routerLink="/contact"
            class="nom-button"
          >
            Contact Support
          </button>
        </div>
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>
