<div class="nom-page-container reset-password">
  <amw-card
    headerTitle="Set Your New Password"
    headerSubtitle="Enter your new password below."
    headerIcon="lock_reset">
    <ng-template #contentTemplate>
      @if (isLoading()) {
        <mat-progress-bar
          mode="indeterminate"
          color="primary"
          class="nom-card__progress-bar">
        </mat-progress-bar>
      }
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
        class="nom-form">
        <amw-input
          type="email"
          formControlName="email"
          label="Email Address"
          icon="email"
          [required]="true"
          class="nom-form__field">
        </amw-input>

        <amw-input
          type="text"
          formControlName="resetCode"
          label="Reset Code"
          icon="vpn_key"
          [required]="true"
          class="nom-form__field">
        </amw-input>

        <amw-input
          type="password"
          formControlName="newPassword"
          label="New Password"
          icon="lock"
          [required]="true"
          class="nom-form__field">
        </amw-input>

        <amw-input
          type="password"
          formControlName="confirmNewPassword"
          label="Confirm New Password"
          icon="lock_open"
          [required]="true"
          class="nom-form__field">
        </amw-input>

        @if (resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmNewPassword')?.dirty) {
          <div class="nom-form__error-message">Passwords do not match.</div>
        }

        <amw-button
          type="submit"
          variant="filled"
          color="primary"
          [disabled]="resetPasswordForm.invalid || isLoading()"
          [loading]="isLoading()"
          class="nom-button">
          Reset Password
        </amw-button>
      </form>
    </ng-template>
  </amw-card>
</div>
