<div class="base-form-container" [style.max-width]="config?.maxWidth">
  <amw-card [headerTitle]="config?.title || ''" [headerSubtitle]="config?.subtitle || ''">
    <ng-template #cardContent>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Form Content -->
        <div class="form-content">
          <ng-content></ng-content>
        </div>

        <!-- Form Actions -->
        <div class="form-actions">
          <div class="action-buttons">
            @if (config?.showCancelButton) {
            <amw-button variant="text" type="button" (click)="onCancel()" [disabled]="isSubmitting" icon="cancel">
              {{ config?.cancelText || 'Cancel' }}
            </amw-button>
            }

            @if (config?.showDeleteButton) {
            <amw-button variant="filled" color="warn" type="button" (click)="onDelete()" [disabled]="isSubmitting"
              icon="delete">
              {{ config?.deleteText || 'Delete' }}
            </amw-button>
            }

            <amw-button variant="filled" color="primary" type="submit" [disabled]="form.invalid || isSubmitting"
              [loading]="isSubmitting">
              {{ config?.submitText || 'Save' }}
            </amw-button>
          </div>
        </div>
      </form>
    </ng-template>
  </amw-card>
</div>