<div class="nom-page-container send-confirmation-email">
  <amw-card
    headerTitle="Resend Confirmation Email"
    headerSubtitle="If you haven't received it, we can send another one."
    headerIcon="forward_to_inbox">
    <ng-template #contentTemplate>
      @if (isLoading()) {
        <amw-progress-bar
          mode="indeterminate"
          color="primary"
          class="nom-card__progress-bar">
        </amw-progress-bar>
      }
      <p class="nom-instruction-text">
        Enter the email address you registered with to receive a new
        confirmation email.
      </p>
      <form
        [formGroup]="sendConfirmationEmailForm"
        (ngSubmit)="onSubmit()"
        class="nom-form">
        <amw-input
          type="email"
          formControlName="email"
          label="Email Address"
          icon="email"
          [required]="true"
          class="nom-form__field">
        </amw-input>

        <amw-button
          type="submit"
          variant="filled"
          color="primary"
          [disabled]="sendConfirmationEmailForm.invalid || isLoading()"
          [loading]="isLoading()"
          class="nom-button">
          Resend Confirmation Email
        </amw-button>
      </form>
    </ng-template>
    <ng-template #actionsTemplate>
      <p class="nom-prompt-text">
        <a routerLink="/login" class="nom-link">Back to Login</a>
      </p>
    </ng-template>
  </amw-card>
</div>
