@use '../../../../variables' as vars;

.context-sidebar {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-md;

  > * {
    background: var(--mat-sys-surface-container);
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: vars.$nom-border-radius-lg;
    padding: vars.$spacing-4;
  }
}
