<div class="login-popover">
  <amw-card
    headerTitle="Sign In"
    headerIcon="login">
    <ng-template #contentTemplate>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-popover__form">
        <amw-input
          type="email"
          formControlName="email"
          label="Email"
          icon="email"
          [required]="true"
          class="login-popover__field">
        </amw-input>

        <amw-input
          type="password"
          formControlName="password"
          label="Password"
          icon="lock"
          [required]="true"
          class="login-popover__field">
        </amw-input>

        @if (errorMessage()) {
          <div class="login-popover__error">{{ errorMessage() }}</div>
        }

        <amw-button
          type="submit"
          variant="filled"
          color="primary"
          [disabled]="loginForm.invalid || isLoading()"
          [loading]="isLoading()"
          class="login-popover__submit">
          Sign In
        </amw-button>
      </form>

      <mat-divider class="login-popover__divider"></mat-divider>

      <amw-button
        variant="text"
        color="accent"
        (click)="onRegister()"
        class="login-popover__register">
        Create Account
      </amw-button>
    </ng-template>
  </amw-card>
</div>
