@use '../../../../variables' as vars;

.login-popover {
  &__card {
    min-width: 300px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-4;
  }

  &__field {
    width: 100%;
  }

  &__error {
    font-size: vars.$font-size-xs;
    margin-top: -(vars.$spacing-2);
  }

  &__submit {
    width: 100%;
  }

  &__divider {
    margin: vars.$spacing-4 0;
  }

  &__register {
    width: 100%;
  }
}
