@use '../../../../variables' as vars;
@use '../../../../_utilities' as *;

.login-popover {
  &__card {
    min-width: 300px;
  }

  &__form {
    @include nom-form-field(vars.$spacing-4);
  }

  &__field {
    width: 100%;
  }

  &__error {
    font-size: vars.$font-size-xs;
    margin-top: -(vars.$spacing-2);
  }

  &__submit {
    width: 100%;
  }

  &__divider {
    margin: vars.$spacing-4 0;
  }

  &__register {
    width: 100%;
  }
}
