@use '../../../../_utilities' as *;

.login-popover {
  &__card {
    min-width: 300px;
  }

  &__form {
    @include nom-form-field(16px);
  }

  &__field {
    width: 100%;
  }

  &__error {
    font-size: 12px;
    margin-top: -8px;
  }

  &__submit {
    width: 100%;
  }

  &__divider {
    margin: 16px 0;
  }

  &__register {
    width: 100%;
  }
}
