<!-- File: nom-ui/src/app/recipe/components/ingredient-search/ingredient-search.component.html -->
<div class="nom-page-container ingredient-search">
    <div class="ingredient-search__wrapper">
        <mat-form-field class="ingredient-search__form-field">
            <mat-label>Search for an Ingredient</mat-label>
            <input type="text" placeholder="e.g., chicken breast" matInput [formControl]="searchControl"
                [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="onIngredientSelected($event)">
                <mat-option *ngIf="isLoading" class="is-loading">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-option>
                @for (ingredient of filteredIngredients$ | async; track ingredient.id)
                {
                <mat-option [value]="ingredient">
                    {{ ingredient.name }}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>

        <!-- Display the details component when an ingredient is selected -->
        @if (selectedIngredient) {
        <app-ingredient-details [ingredient]="selectedIngredient"></app-ingredient-details>
        }
    </div>
</div>
  