@use '../../../variables' as vars;

.two-factor {
  &__toggle-section {
    margin-bottom: 20px;
  }

  &__toggle {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    @media (min-width: vars.$breakpoint-mobile) {
      margin-bottom: 10px;
    }
  }

  &__setup-section {
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: vars.$breakpoint-mobile) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__qr-code-placeholder {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__shared-key-details {
    margin-top: 15px;
    text-align: center;

    @media (min-width: vars.$breakpoint-mobile) {
      flex-grow: 1;
      margin-top: 0;
      text-align: left;
    }
  }

  &__copy-button {
    margin-left: 10px;
    flex-shrink: 0;
  }

  &__option-checkbox {
    width: 100%;
    margin-bottom: 10px;
  }

  &__copy-codes-button {
    margin-top: 15px;

    amw-icon {
      margin-right: 5px;
    }
  }

  &__options-section {
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: vars.$breakpoint-mobile) {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}
